 
	body{ 	
			padding:0px;
			margin:0px;
			text-align:center;
			background:rgb(239,240,244); /* 背景色 */ 
		} 
	header {
			padding:20px;
			background:rgb(95,192,205); /* 背景色 */ 
		
			}
	input{	
			border:0;	
			width:90%;
	}
	.header	{}
	.close_text	{
					text-align:left;
					color:rgb(239,240,244);
					font-size:1em;
					float:left;
				}
	.log_text	{
				text-align:center;
				color:rgb(239,240,244);
				font-size:1.2em;
				float:center;
				}
	.login_text	{
				text-align:right;
				color:rgb(239,240,244);
				font-size:1em;
				float:right;
				}
	.username	{
				text-align:left;
				background:rgb(255,255,255); /* 背景色 */ 
				padding:20px;
				margin-top:5px;
				height:20px
		
				}
	.passwd		{
				text-align:left;
				background:rgb(255,255,255); /* 背景色 */ 
				padding:20px;
				margin-top:5px;
				height:20px
		
				}
	.phone_img	{
					margin:5px;
					width:16px;
					float:left;
				}
	.lock_img	{
					margin:5px;
					width:16px;
					float:left;
				}
	
	.line_input{
				margin-left:5px;
				margin-right:10px;
				position:relative;
				height:30px;
				width:2px;
				float:left;
				background:rgb(239,240,244);
				}
	.login	{			
				text-align:left;
				background:rgb(95,192,205); /* 背景色 */ 
			
				margin-top:30px;
				height:30px		
			}
	.button	{
		font-size:1.2em;
		color:rgb(239,240,244);
		background:rgb(95,192,205); /* 背景色 */
				height:50px;
				width:100%;
		
			}
	.restpassword
				{
				margin:30px;	
				text-align:right;
				color:rgb(95,192,205);
				font-size:1em;
				float:right;	
				}